.dub
docs.json
__dummy.html
docs/
/inochi-session
inochi-session.so
inochi-session.dylib
inochi-session.dll
inochi-session.a
inochi-session.lib
inochi-session-test-*
*.exe
*.o
*.obj
*.lst
*.inp
out/

dub.selections.json
source/session/ver.d
build-aux/windows/inochi-session.res
version.txt